  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-theme{
  --clr-bg: #F2F9FE;
  --clr-primary: #111729; 
  --clr-secondary: #909193;
}
.dark-theme{
  --clr-bg: #111729;
  --clr-primary: #f1f5f9; 
  --clr-secondary: #909193;
}



body{
  font-family: 'Poppins', sans-serif;
}

section{
  min-height: 100vh;
  background-color: var(--clr-bg);
  max-width: 640px;
  margin: 0 auto;
}

nav{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
display: none;
list-style: none;
gap: 48px;
}
ul li a{
  text-decoration: none;
  color: var(--clr-secondary);
}
ul :first-child a{
  color: var(--clr-primary);
}
ul li a:active{
  color: var(--clr-primary); 
}

.toggle-btn{
  display: none;
  width: 0;
  height: 0;
}

label{
  width: 72px;
  height: 32px;
  position: relative;
  display: block;
  background-color: var(--clr-primary);
  border-radius: 24px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0, 0.4), inset 0px -5px 15px rgba(255,255,255,0.4) ;
  cursor: pointer;
  transition: 0.5s;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
label:after{
  content: "";
  width:24px;
  height:24px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: var(--clr-bg);
  border-radius: 28px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked + label:after{
  right: 68px;
  transform: translateX(100%);
}
label img, label i{
  position: absolute;
  z-index: 100;
  font-size: 16px;
}
label img{
  width:18px;
  right:7px;
}
label i{
  left:10px;
  color:white;
}

/* Banner Section */
.banner-container{
  width: 100%;
  padding: 24px;

}
.banner-container img{
  width: 100%;
}
.banner-content{
  padding: 48px;
  color:var(--clr-primary);
}

.banner-content p {
  font-size: 1.125rem;
}
.banner-content h1{
  font-size: 2.75rem;
  margin: 0.75rem 0;
}
.description{
  color:var(--clr-secondary);
}

.btn-link{
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 2.2rem 0 ;
}
.btn-link button{
  background-color: #2A4DD0 ;
  padding: 16px 30px;
  width:fit-content;
  border: none;
  border-radius: 12px;
  color: #f1f5f9;
  font-size:1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.btn-link a{
  color:#2A4DD0;
  font-weight: bold;
  font-size: 1rem;
}

.requirements{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.reqr{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.reqr img{
  height: 1.25rem;
  width: 1.25rem;
}
.reqr p{
  font-size: 0.875rem;
  color:var(--clr-secondary);
}


@media (min-width: 640px) {
  section{
    max-width: 1024px;
  }
  ul{
    display: flex;
  }
  .banner-container{
    padding: 116px;
  }
  .banner-content h1{
    font-size: 3.75rem;
  }
  .banner-content{
    padding: 0;
  }
}

@media (min-width: 1024px) {
  section{
    max-width: 1280px;
  }
  nav{
    padding: 24px 72px;
  }
  .banner-container{
    padding:72px 72px 120px;
    display: flex;
    gap: 72px;
    flex-direction: row-reverse;
  }
  .banner-container img{
    width: 50%;
  }
  .banner-content{
    width: 50%;
  }
}


